xterm*.faceName: Ubuntu Mono
xterm*.faceSize: 12

xterm*.savelines: 16384

! Color Scheme adapted from: https://github.com/arcticicestudio/nord-xresources

!#define nord0 #2e3440
#define nord0 #111111
#define nord1 #3b4252
#define nord2 #434c5e
#define nord3 #4c566a
#define nord4 #d8dee9
#define nord5 #e5e9f0
#define nord6 #eceff4
#define nord7 #8fbcbb
#define nord8 #88c0d0
#define nord9 #81a1c1
#define nord10 #5e81ac
#define nord11 #bf616a
#define nord12 #d08770
#define nord13 #ebcb8b
#define nord14 #a3be8c
#define nord15 #b48ead

xterm*.foreground: nord4
xterm*.background: nord0
xterm*.cursorColor: nord4

xterm*.color0: nord1
xterm*.color1: nord11
xterm*.color2: nord14
xterm*.color3: nord13
xterm*.color4: nord9
xterm*.color5: nord15
xterm*.color6: nord8
xterm*.color7: nord5
xterm*.color8: nord3
xterm*.color9: nord11
xterm*.color10: nord14
xterm*.color11: nord13
xterm*.color12: nord9
xterm*.color13: nord15
xterm*.color14: nord7
xterm*.color15: nord6

